@inherits Umbraco.Web.Mvc.UmbracoViewPage<IVirtualMarkdownDocument>
@using ExamineMd
@using ExamineMd.Models
@{
    Layout = "Base.cshtml";
}
@Html.ExamineMdPartial("BreadCrumbNavBar", new ViewDataDictionary(new MdPath(Model.Markdown.Path.Value)))

<h2>@Model.HeadleLine</h2>
 
@Model.BodyHtml()