table.responsive-table { line-height: 1.3em;
    thead, tbody, tr, th, td {
        @include media(38) { display: block; }
    }
    @include media(38) { display: block; border-collapse: collapse; }
        thead tr {
        @include media(38) { position: absolute; top: -9999px; left: -9999px; }
    }
    tr {
        &:nth-child(even) {
            @include media(38) { background: none; }
        }
    }
    td { vertical-align: middle;
        &:first-of-type { 
            @include media(38) {  }
        }
        @include media(38) { border: none; border-bottom: 1px solid $darkgrey; position: relative; padding: 10px 10px 10px 50%; text-align: left; }
        &:before {
            @include media(38) { position: absolute; top: 10px; left: 10px; width: 45%; padding-right: 10px; white-space: nowrap; }
        }
    }
}