// ----------------------------------------------------------------------
// VARIABLES, IMPORTS, RESETS, MIXINS & EXTENDS
// ----------------------------------------------------------------------

// Color Variables
$darkgrey: 		#333;
$midgrey: 		#666;
$lightgrey: 	#dadada;
$black: #000;
$blue: #3B5998;
$midblue:#74AAF7;
$darkblue: #293E6A;
$lightblue:     lighten($blue, 30%);
$transblue:		rgba(19,108,148,0.5);

//Font Variables
$global-font: 16px/30px 'Open Sans', sans-serif;
$small-font: 14px;
$tiny-font: 12px;

// Mixins
@mixin transition($element: all, $type: ease, $timing: .5s) { -webkit-transition: $element $type $timing; -moz-transition: $element $type $timing; -o-transition: $element $type $timing; transition: $element $type $timing; }
@mixin flip { -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); }
@mixin media ($width, $style: max-width) { @media ($style: #{$width}em) { @content; } }

// Animation Mixins
@mixin bounce {
    -webkit-animation-name: bounce; -webkit-animation-duration: .5s; -webkit-animation-iteration-count: 10; -webkit-animation-direction: alternate; -webkit-animation-timing-function: ease; -webkit-animation-fill-mode: forwards; -webkit-animation-delay: 5s;
    -moz-animation-name: bounce; -moz-animation-duration: .5s; -moz-animation-iteration-count: 10; -moz-animation-direction: alternate; -moz-animation-timing-function: ease; -moz-animation-fill-mode: forwards; -moz-animation-delay: 5s;
    animation-name: bounce; animation-duration: .5s; animation-iteration-count: 10; animation-direction: alternate; animation-timing-function: ease; animation-fill-mode: forwards; animation-delay: 5s;
}

// Extends
%box-sizing { -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
%clear { content: ''; height: 1px; display: block; clear: both; }

// Keyframes
@-webkit-keyframes bounce {
  0%   { -webkit-transform: translateX(0); }
  50% { -webkit-transform: translateX(2px); }
  100% { -webkit-transform: translateX(-2px); }
}
@-moz-keyframes bounce {
  0%   { -moz-transform: translateX(0); }
  50% { -moz-transform: translateX(2px); }
  100% { -moz-transform: translateX(-2px); }
}
@-o-keyframes bounce {
  0%   { -o-transform: translateX(0); }
  50% { -o-transform: translateX(2px); }
  100% { -o-transform: translateX(-2px); }
}
@keyframes bounce {
  0%   { transform: translateX(0); }
  50% { transform: translateX(2px); }
  100% { transform: translateX(-2px); }
}