@inherits Umbraco.Web.Mvc.UmbracoViewPage<IVirtualMarkdownListing>
@using ExamineMd
@using ExamineMd.Models
@{
    Layout = "Base.cshtml";
}
 

@{
    if (Model.Documents.Any())
    {
        <ul>
            @foreach (var doc in Model.Documents)
            {
                var brief = doc.Markdown.MetaData.Items.FirstOrDefault(x => x.Alias == "brief");
                
                <li>
                    <h3>
                        <a href="@doc.Url">@doc.Name</a>
                        <p>This is the brief content</p>
                    </h3>
                </li>
            }
        </ul>
    }

}