// Global styles

body { position: relative; overflow-x: hidden;  color : $darkgrey; }

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p { margin-bottom: 1.5em; -moz-hyphens: auto; -ms-hyphens: auto; -o-hyphens: auto; -webkit-hyphens: auto; hyphens: auto; }
ul {}
ol {}
li {}
strong { font-weight: bold; }
em { font-style: italic; }
u { text-decoration: underline; }
