<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Examine" type="Examine.Config.ExamineSettings, Examine" requirePermission="false" />
    <section name="ExamineLuceneIndexSets" type="Examine.LuceneEngine.Config.IndexSets, Examine" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="ExamineMd:MdRootDirectory" value="~/App_Data/ExamineMdRoot/" />
  </appSettings>
  
  <!-- Examine Configurations we will need to add to a PackageAction to install with the package -->
  <Examine>
    <ExamineIndexProviders>
      <providers>
        <add name="ExamineMdIndexer" type="Examine.LuceneEngine.Providers.SimpleDataIndexer, Examine" indexTypes="ExamineMdDocument" dataService="ExamineMd.DataService.MarkdownFileIndexDataService, ExamineMd" runAsync="false" />
      </providers>
    </ExamineIndexProviders>

    <ExamineSearchProviders defaultProvider="ExamineMdSearcher">
      <providers>
        <add name="ExamineMdSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />
      </providers>
    </ExamineSearchProviders>
    
  </Examine>
  
  <ExamineLuceneIndexSets>
    <IndexSet SetName="ExamineMdIndexSet" IndexPath="../../App_Data/ExamineIndexes/ExamineMd/">
      <IndexUserFields>
        <add Name="body" />
        <add Name="searchableBody" />
        <add Name="title" />
        <add Name="fileName" />
        <add Name="path" />
        <add Name="metaData" />
        <add Name="allDocs" />
        <add Name="pathSearchable" />
        <add Name="createDate" />
      </IndexUserFields>
    </IndexSet>
  </ExamineLuceneIndexSets>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>